@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: royalblue;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 100px;
}

h1 {
    margin: 40px 0 0;
    text-align: center;
}

.filter-container {
    margin-top: 20px;
    width: 80vw;
    max-width: 800px;
}

.filter {
    width: 100%;
    padding: 10px;
}

.post {
    background-color: white;
    color: royalblue;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    margin: 40px 0;
    padding: 20px;
    display: flex;
    width: 80vw;
    max-width: 800px;
    border-radius: 5px;
    position: relative;
}

.post .post-title {
    margin: 0;
}

.post .post-body {
    margin: 15px 0 0;
    line-height: 1.5;
}

.post .post-info {
    margin-left: 20px;
}

.post .number {
    position: absolute;
    top: -15px;
    left: -15px;
    font-size: 16px;
    background-color: white;
    color: royalblue;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid royalblue;
}

.loader {
    display: flex;
    position: fixed;
    bottom: 50px;
    transition: opacity 0.5s ease-in;
    opacity: 0;
}

.loader.show {
    opacity: 1;
}

.circle {
    background-color: white;
    height: 10px;
    width: 10px;
    margin: 5px;
    border-radius: 50%;
    animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
    animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
    animation-delay: 0.2s;
}

@keyframes bounce {
    0%,
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}